.profile {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  letter-spacing: normal;
  padding-bottom: 40px;
}

.profile__header {
  margin: 0;
  padding: 74px 0 123px;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.profile__data-container {
  width: 410px;
  padding-bottom: 16px;
  margin-bottom: 17px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #424242;
}

.profile__data-container:nth-last-of-type(2n) {
  border-bottom: 0px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.profile__data-header {
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.profile__data {
  color: var(--white);
  background-color: transparent;
  border: none;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.profile__data-user {
  text-align: right;
}

.profile__btn-container {
  width: 100%;
  margin-top: 220px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.profile__btn {
  background-color: transparent;
  border: none;
  font-size: 13px;
  font-style: normal;
  line-height: normal;
  cursor: pointer;
}

.profile__btn:hover {
  opacity: 0.8;
}

.profile__save-btn {
  width: 100%;
  height: 45px;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 500;
  color: white;
  background-color: var(--brightblue);
}

.profile__edit-btn {
  color: #fff;
  font-weight: 400;
}

.profile__logout-btn {
  color: #ee3465;
  font-weight: 500;
}

@media screen and (max-width: 1000px) {
  .profile__header {
    padding: 236px 0 96px;
  }
}

@media screen and (max-width: 767px) {
  .profile {
    padding: 70px 30px 40px;
    width: unset;
    height: 100%;
    flex-grow: 1;
  }
  .profile__header {
    padding: 0;
    padding-bottom: 80px;
  }
  .profile__data-container {
    width: 100%;
  }
  .profile__btn-container {
    margin: 0;
    flex-grow: 1;
    gap: 16px;
    justify-content: flex-end;
  }
  .profile__btn {
    font-size: 12px;
  }
}