.lead {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--blue);
  background-image: url("../../images/lead-logo.svg");
  background-size: 320px 320px;
  background-position: center;
  background-repeat: no-repeat;
}

.lead__header {
  display: flex;
  align-items: center;
  width: 730px;
  height: 524px;
  font-size: 50px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: -2px;
  text-align: center;
  margin: 0;
}

@media screen and (max-width: 900px) {
  .lead__header {
    padding: 326px 19px 342px;
  }
}

@media screen and (max-width: 767px) {
  .lead {
    padding: 142px 0 180px;
    background-size: 248px;
    background-position: center 142px;
    height: 248px;
    display: flex;
    align-items: center;
  }
  .lead__header {
    padding: 0;
    max-width: 300px;
    font-size: 31px;
    line-height: 39px;
    height: auto;
  }
}