.page {
  background-color: var(--dark);
  color: var(--white);
  text-rendering: optimizeLegibility;
  min-width: 320px;
}

.page__container {
  min-height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 767px) {
  .page {
    letter-spacing: -.038em;
  }
}