.sign {
  letter-spacing: normal;
  flex-grow: 1;
  padding-bottom: 40px;
}

.sign__container {
  display: flex;
  flex-grow: 1;
  height: 100%;
}

.sign__logo {
  margin-top: 70px;
  width: 38px;
  height: 38px;
  text-decoration: none;
  background-image: url("../../images/logo.svg");
}

.sign__logo:hover {
  opacity: 0.8;
}

.sign__link-container {
  color: #8b8b8b;
  margin: 16px auto 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
  font-size: 14px;
  line-height: normal;
}

.sign__link {
  text-decoration: none;
  color: var(--brightblue);
}

.sign__link:hover {
  opacity: 0.6;
}

.sign__header {
  margin: 40px 0;
  font-size: 24px;
  font-weight: normal;
  line-height: 29px;
}

.sign__form-input {
  box-sizing: border-box;
  width: 100%;
  height: 46px;
  padding: 15px;
  border: none;
  background-color: #2f2f2f;
  border-radius: 8px;
  color: var(--white);
  font-size: 13px;
  line-height: normal;
  font-weight: 400;
  margin-bottom: 20px;
}

.sign__form-input:last-of-type {
  margin-bottom: 0;
}

.sign__form-input::placeholder {
  color: var(--lightgray);
}

.sign__form-input:focus {
  outline: solid var(--brightblue);
}

.sign__form-input_type_error {
  color: #EE3465;
}

.sign__form-label {
  padding-bottom: 10px;
  font-size: 10px;
  line-height: normal;
  color: var(--lightgray);
}

.sign__form-error {
  visibility: hidden;
  opacity: 0;
  color: #EE3465;
  font-size: 10px;
  line-height: normal;
  padding-top: 10px;
  transition: 0.1s linear opacity;
}

.sign__form-error_visible {
  visibility: visible;
  opacity: 1;
}

.sign__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.sign {
  max-width: 396px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.sign__fields-container, .sign__actions-container {
  display: flex;
  height: 100%;
  width: 396px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.sign__fields-container {
  height: 483px;
}

.sign__button {
  width: 100%;
  max-height: 45px;
  height: 45px;
  margin-top: 69px;
  background-color: var(--brightblue);
  color: var(--white);
  padding: 0;
  border-radius: 3px;
  border: none;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  flex-grow: 1;
}

.sign__button:hover {
  background-color: var(--brightblue);
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .sign__header {
    margin: 40px 0;
    line-height: normal;
  }
}

@media screen and (max-width: 500px) {
  .sign__fields-container, .sign__actions-container {
    width: 260px;
    flex-grow: 1;
  }
}

@media screen and (max-width: 900px) {
  .sign__button {
    max-height: 46px;
    font-size: 16px;
    line-height: normal;
  }
}

@media screen and (max-width: 767px) {
  .sign__fields-container, .sign__actions-container {
    align-items: center;
  }
  .sign__header {
    margin: 50px 0 80px;
  }
  .sign__link-container {
    font-size: 12px;
    justify-content: space-between;
    gap: 7px;
  }
}

