.techs {
  padding: 100px 70px;
  display: flex;
  flex-direction: column;
  background-color: var(--darkgray);
  text-align: center;
}

.techs__header {
  text-align: left;
  margin: 0;
  padding-bottom: 23px;
  letter-spacing: -0.88px;
  font-weight: normal;
  font-size: 22px;
  border-bottom: 1px solid var(--horizontal-line);
}

.techs__subheader {
  padding: 90px 0 26px;
  margin: 0 auto;
  text-align: center;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: -2px;
}

.techs__description {
  max-width: 460px;
  margin: 0 auto;
  padding-bottom: 100px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: -0.56px;
}

.techs__items {
  display: grid;
  grid-template-columns:repeat(auto-fit, minmax(84px,90px));
  grid-auto-rows: auto;
  gap: 10px;
  justify-content: center;
}

.techs__item {
  display: flex;
  width: 90px;
  height: 60px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  background-color: #303030;
  font-size: 14px;
  letter-spacing: -0.56px;
}

@media screen and (max-width: 900px) {
  .techs {
    padding: 90px 50px;
  }
  .techs__subheader {
    padding: 80px 0 22px;
  }
  .techs__description {
    width: 440px;
    font-size: 12px;
    padding-bottom: 83px;
  }
  .techs__items {
    grid-template-columns:repeat(auto-fit, 84px);
  }
  .techs__item{
    width: 84px;
    height: 57px;
    font-size: 12px;
  }
}

@media screen and (max-width: 767px) {
  .techs {
    padding: 70px 18px;
    background-color: #202020;
  }
  .techs__header {
    height: 22px;
    padding-bottom: 26px;
    font-size: 18px;
    border-bottom: 1px solid black;
  }
  .techs__subheader {
    padding: 62px 0 24px;
    font-size: 30px;
    padding-bottom: 24px;
    letter-spacing: -.038em;
  }
  .techs__description {
    font-size: 11px;
    padding-bottom: 50px;
    width: unset;
  }
  .techs__items {
    max-width: 200px;
    margin: 0 auto;
  }
}